body {
	background-color: #D8D8D8;
}
p{
	color: red;
}

input {
display: block;
width: 60%;
margin: 10px;
}

img {
	width: 85px;
}

table, th, td {
    border: 1px solid black;
}

.productos {
	background-color: #886A08;
	height: 500px;
}

.principal {
	display: flex;
	flex-direction: row;
}

.form {
	width: 30%;
}

.btn_pr {
	text-align: right;
}